* {
  margin: 0;
  padding: 0;
  border-width: 0;
  
}

#app{
  height: 100%;
  /* background-image: url('./assets/wallhaven-1p398w_1920x1080.png'); */
  background-size: contain;
  /* opacity: 0.8; */

}

#outer{
  height:100vh;
  width: 100%;
 }

 #header{
  height: 1vh;
}

td {
  border-style: solid;
  border-width: 1px;
  height: 5vh;
}

tr {
  height: 8vw;
  text-align: center;
}

/* #uploadButton{
 margin-bottom: 1%;
 position: fixed;
 bottom: 0;
 left: 50%;
} */

.inputnum{
  /* height: 25%; */
  text-align: center;
}

.el-input{
  /* height: 75%; */
  text-align: center;
  padding: 2%;
}

.el-checkbox{
  margin: 3%;
}
.inputBlock{
  display: flex;
  flex-direction: row-reverse;
}

#timeBlock {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#timeBlockTitle {
  /* height: 100%; */
  text-align: center;
  overflow: hidden;
  /* padding-top: 10%; */
}

#timeBlockData {
  text-align: center;
  overflow: hidden;
  /* padding-top: 10%; */
}

#timeBlockMark {
  text-align: center;
  overflow: hidden;
  /* padding-top: 10%; */
}

.timeBlock {
  width: 13vw;
}